<h1>See here all restaurants</h1>
<ul>
  <% @restaurants.each do |resto| %>
  <li>The restaurant <%= link_to resto.name, restaurant_path(resto) %> is located in
      <%= resto.address %> and serves
      <%= resto.category %> food.
  </li>
  <% end %>
</ul>

<%= link_to "Create a new restaurant", new_restaurant_path %>
